<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="style.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

</head>
<body>


<div class="profile-container">
  <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/b288b517875e1d009613b573e091e1253ce224d0f03e1fb72454171a53d25ff7?apiKey=adfb88761994448fbf7bc23cda8c817b&" alt="Profile" class="profile-image" />
  
  <div class="info-label">Nom complet</div>
  <input type="text" class="info-value" placeholder="Entrez votre nom">
  
  <div class="info-label">Adresse mail</div>
  <input type="email" class="info-value" placeholder="Entrez votre adresse email">
  
  <div class="info-label">Numero de téléphone</div>
  <input type="tel" class="info-value" placeholder="Entrez votre numéro de téléphone">
  
  <div class="info-label">Status</div>
  <input type="text" class="info-value" placeholder="Entrez votre statut">
  
  <button class="edit-info-button">Modifier mes informations</button>
  <button class="logout-button">Se déconnecter</button>
  <a href="#" class="delete-account-link">Supprimer mon compte</a>
  
  <nav class="bottom-nav">
    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/7ce97197d90748ca58724f2fea920806027c6239988cdad58c0886d488ece6f5?apiKey=adfb88761994448fbf7bc23cda8c817b&" alt="" class="nav-icon" />
    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/0bc0021eab93b7b06972ea38084bc5bf8f06ac9ee622955cabf5b550e0de5c8c?apiKey=adfb88761994448fbf7bc23cda8c817b&" alt="" class="nav-icon" />
    <div class="active-nav-item">
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/955f48a4d8defa84694d4f308cedb85b303e8aaced46e7b704321beb43df0f58?apiKey=adfb88761994448fbf7bc23cda8c817b&" alt="" class="active-nav-icon" />
      <!-- <button class="active-nav-text">Mon compte</button> -->
    </div>
  </nav>
</div>


</body>
</html>
