<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1</title>

    <link rel="stylesheet" href="style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    
    
    <main class="container">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/b288b517875e1d009613b573e091e1253ce224d0f03e1fb72454171a53d25ff7?apiKey=adfb88761994448fbf7bc23cda8c817b&" alt="Hero image" class="hero-image" />
        <h1 class="hero-title">Trouver quelque chose chaude à manger</h1>
        
        <section class="meal-list">
        <article class="meal-card">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/996cde7b2abeaedb2befa0bb365392c3a0e41327c7408872b97360039191f014?apiKey=adfb88761994448fbf7bc23cda8c817b&" alt="Salade au poulet" class="meal-image" />
            <h2 class="meal-name">Salade au poulet</h2>
            <div class="restaurant-info">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/08c8a3f6bed98ea50d3c14673e6e86a9b6b3a839cb9da35555fbdc2ae644dd56?apiKey=adfb88761994448fbf7bc23cda8c817b&" alt="Restaurant icon" class="restaurant-icon" />
            <p class="restaurant-name">Restaurant de la ville</p>
            </div>
            <div class="restaurant-address">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/7d4a31f69a337531624c17d8b27e7a0282132fa1020f684cd3d0719dd7c12971?apiKey=adfb88761994448fbf7bc23cda8c817b&" alt="Address icon" class="address-icon" />
            <p class="address-text">19 rue de Paris, 92010</p>
            </div>
            <button class="reserve-button">Réserver</button>
        </article>
    
        <article class="meal-card-2">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/fc1c419c1163be177f6f78457b5c2e273904b32ac994c746cea024c7c5df363d?apiKey=adfb88761994448fbf7bc23cda8c817b&" alt="Soupe aux légumes" class="meal-image-2" />
            <h2 class="meal-name-2">Soupe aux légu...</h2>
            <div class="restaurant-info">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/08c8a3f6bed98ea50d3c14673e6e86a9b6b3a839cb9da35555fbdc2ae644dd56?apiKey=adfb88761994448fbf7bc23cda8c817b&" alt="Restaurant icon" class="restaurant-icon" />
            <p class="restaurant-name">Restaurant de la ville</p>
            </div>
            <div class="restaurant-address">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/7d4a31f69a337531624c17d8b27e7a0282132fa1020f684cd3d0719dd7c12971?apiKey=adfb88761994448fbf7bc23cda8c817b&" alt="Address icon" class="address-icon" />
            <p class="address-text">02 rue Jhon Jorès, 93011</p>
            </div>
            <button class="reserve-button">Réserver</button>
        </article>
        </section>
    
        <section class="meal-list-2">
        <article class="meal-card-3">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/9fff47ad3299edaeb69dcb2e878458c4bdde80ffb6610ededbd1c7ae07ecbad0?apiKey=adfb88761994448fbf7bc23cda8c817b&" alt="Salade au poulet" class="meal-image-3" />
            <h2 class="meal-name-3">Salade au poulet</h2>
            <div class="restaurant-info-2">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/6f31cb28f8527d5182c795a0bc7da48d988197eeb8a6b8f4c6767daef4435f9a?apiKey=adfb88761994448fbf7bc23cda8c817b&" alt="Restaurant icon" class="restaurant-icon-2" />
            <p class="restaurant-name">Restaurant de la ville</p>
            </div>
            <div class="restaurant-address-2">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/e341d84644ee75b9e9873518db80bbb3e9d73f36d8149f69e4a171373632f782?apiKey=adfb88761994448fbf7bc23cda8c817b&" alt="Address icon" class="address-icon-2" />
            <p class="address-text">19 rue de Paris, 92010</p>
            </div>
            <button class="reserve-button-2">Réserver</button>
        </article>
    
        <article class="meal-card-4">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/fc1c419c1163be177f6f78457b5c2e273904b32ac994c746cea024c7c5df363d?apiKey=adfb88761994448fbf7bc23cda8c817b&" alt="Soupe aux légumes" class="meal-image-4" />
            <h2 class="meal-name-4">Soupe aux légu...</h2>
            <div class="restaurant-info-2">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/6f31cb28f8527d5182c795a0bc7da48d988197eeb8a6b8f4c6767daef4435f9a?apiKey=adfb88761994448fbf7bc23cda8c817b&" alt="Restaurant icon" class="restaurant-icon-2" />
            <p class="restaurant-name">Restaurant de la ville</p>
            </div>
            <div class="restaurant-address-2">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/e341d84644ee75b9e9873518db80bbb3e9d73f36d8149f69e4a171373632f782?apiKey=adfb88761994448fbf7bc23cda8c817b&" alt="Address icon" class="address-icon-2" />
            <p class="address-text">02 rue Jhon Jorès, 93011</p>
            </div>
            <button class="reserve-button-2">Réserver</button>
        </article>
        </section>
    
        <nav class="bottom-nav">
        <div class="nav-item" id="repas-btn">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/7ce97197d90748ca58724f2fea920806027c6239988cdad58c0886d488ece6f5?apiKey=adfb88761994448fbf7bc23cda8c817b&" alt="Meals icon" class="nav-icon" />
            <p class="nav-text">Repas</p>
        </div>
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/0bc0021eab93b7b06972ea38084bc5bf8f06ac9ee622955cabf5b550e0de5c8c?apiKey=adfb88761994448fbf7bc23cda8c817b&" alt="Search icon" class="nav-icon-2" />
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/955f48a4d8defa84694d4f308cedb85b303e8aaced46e7b704321beb43df0f58?apiKey=adfb88761994448fbf7bc23cda8c817b&" alt="User icon" class="nav-icon-3" />
        </nav>
    </main>


    <script>
        // Sélection du bouton "Repas" par son ID
        var repasBtn = document.getElementById('repas-btn');

        // Ajout d'un écouteur d'événements pour le clic sur le bouton
        repasBtn.addEventListener('click', function() {
            // Redirection vers la deuxième page lorsque le bouton est cliqué
            window.location.href = '2/index.html';
        });
    </script>




</body>
</html>



