<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2</title>

    <link rel="stylesheet" href="style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

</head>
<body>


<main class="container">
  <!-- <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/fc3fa3e74189131955d22b255e78544fe4adbb4284748d6e19bfcb38ab905b71?apiKey=adfb88761994448fbf7bc23cda8c817b&" alt="" class="icon" /> -->
  <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/97153495c7d5064e9eef19f2012751e18a2fc3542d80520ef830a477d732e8ce?apiKey=adfb88761994448fbf7bc23cda8c817b&" alt="Salade au poulet" class="dish-image" />
  
  <h1 class="dish-name">Salade au poulet</h1>
  
  <p class="dish-description">
    La salade au poulet se compose de filets de poulet grillés, de laitue ou de roquette, de tomates cerises, de concombres, de poivrons, et peut être agrémentée d'avocats, de carottes râpées, d'épices pour le poulet, d'huile d'olive, de vinaigre balsamique ou de jus de citron, d'herbes fraîches, de fromage et de graines selon les préférences.
  </p>
  
  <section class="restaurant-info">
    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/f4a236744161be0a5535a07cca910a1219f80b266f752314ea7095ca866474e1?apiKey=adfb88761994448fbf7bc23cda8c817b&" alt="" class="restaurant-icon" />
    <h2 class="restaurant-name">Restaurant de la ville</h2>
  </section>

  <section class="address-info">  
    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/3c6a083b08614d87903199e6ae6f8bb1c082da00e093dcca65236586fc38f1ef?apiKey=adfb88761994448fbf7bc23cda8c817b&" alt="" class="address-icon" />
    <address class="address">02 rue Jhon Jorès, 93011</address>
  </section>

  <section class="hours-info">
    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/fc840c7a9d3f45406d6a53e1197f9a04a14221a88b0800c7756075dd9c6f7573?apiKey=adfb88761994448fbf7bc23cda8c817b&" alt="" class="hours-icon" />  
    <time class="hours">10:00h - 21:30h</time>
  </section>

  <section class="days-info">
    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/b1f439113b1277a8e437b1d46ab053036931fd613747c5d12896841cd9a36e6a?apiKey=adfb88761994448fbf7bc23cda8c817b&" alt="" class="days-icon" />
    <p class="days">Dimanche - Vendredi</p>
  </section>

  <section class="phone-info">  
    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/50b98d6d1f646a9cc2072319583b568511873b9de592dd36c34691f1d2d21d9d?apiKey=adfb88761994448fbf7bc23cda8c817b&" alt="" class="phone-icon" />
    <a href="tel:0128938573" class="phone">01 28 93 85 73 91</a>
  </section>

  <button class="reserve-button">Reserver</button>
</main>
  
      
</body>
</html>